# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
build/
out/
.next/
.nuxt/
.vuepress/dist/

*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.sw?

# Backend uploads and db
backend/uploads/
backend/database.json
backend/certificates/

# Hardhat
artifacts/
cache/

# Coverage
coverage/
.nyc_output

# Temporary caching
.npm
.yarn-integrity
.cache
.parcel-cache
.fusebox/
.serverless
.dynamodb/
